# Auto detect text files and perform LF normalization
* text=auto

import urllib.request as ur


def gethtml(url):
    page=ur.urlopen(url)
    page=page.read()
    html=page.decode('utf-8')

    return html


url="https://www.baidu.com/"
print(gethtml(url))
